
.skip-link{
    position: fixed;
    z-index:0;
    top:0;
    left:1rem;
    padding:1rem 2rem;
    color:black;
    background-color: white;
    translate: 0 -100%;
    transition: translate 250ms ease-in-out;
}
.skip-link:focus{
    translate: 0;
    z-index: 9906;
}
body {

    margin: 0;
    font-size: 1,125em;
}
*{
    scroll-behavior: smooth;
    
}

header {
    display: flex;
    justify-content: space-between;
    margin-inline: 1rem;
    align-items: center;
    background: linear-gradient(purple, red);
    margin: 0;
    padding: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    

}
.title-logo{
    display: flex;
    gap: 1rem;
}
.logo{
    width:60px;
}
.primary-navigtion {
    display: flex;
    list-style: none;
    gap: 1rem;
    


}

main {
    columns: 2;
    column-gap: 2rem;
    padding:2rem;
    

}

.main-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.grid-row{
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 1rem;
    
}
footer {
    background: linear-gradient(purple, red);
    padding: 0;
    margin: 0;
}



.nav-link, .nav-link:visited {
    color: white;
    
}
.nav-link:active{
    color:red;
}

.nav-link-down, .nav-link-down:visited{
    color:white;
    text-decoration: none;
}
.pic{
    max-width:75%;
}
.pic1{
    max-width: 50%;
}